<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYNwOeJPRe22OJOIRku76-fxxuGTX4MGg</string>
	<key>GCM_SENDER_ID</key>
	<string>955456107512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.proyect.app-biblioteca</string>
	<key>PROJECT_ID</key>
	<string>app-biblioteca-d489b</string>
	<key>STORAGE_BUCKET</key>
	<string>app-biblioteca-d489b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955456107512:ios:01243d040acb30d6f49c0d</string>
</dict>
</plist>